.card-button-cancel {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  color: white;
  background-color: tomato;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}
